<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657406529888-50e9626stkohnus9eejsbem48tomnps0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657406529888-50e9626stkohnus9eejsbem48tomnps0</string>
	<key>API_KEY</key>
	<string>AIzaSyCjrkb2qasLizytY4X22GR96q8c6Md0wak</string>
	<key>GCM_SENDER_ID</key>
	<string>657406529888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.georgegroshev.MovieApp-MiniPet</string>
	<key>PROJECT_ID</key>
	<string>movieapp-4f912</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-4f912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657406529888:ios:1cc8bd67f971cf86014e05</string>
</dict>
</plist>